@layer base, component, utility, darkmode;

@layer base {
    .badge {
        border: 1px solid var(--primary-color);
        border-radius: 1rem;
        color: var(--primary-color);
        display: flex;
        font-size: 0.8rem;
        line-height: 1;
        list-style: none;
        padding: 0.45rem 1rem;
        margin: 0;
        width: fit-content;
    }
}

@layer utility {
    .tech {
        background: var(--secondary-color);
        border: none;
        color: var(--text-color);
    }
}

@layer darkmode {
    @media (prefers-color-scheme: dark) {
        .tech {
            --text-color: #000;
        }
    }
}