h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Ubuntu', sans-serif;
	line-height: 1.1;
	padding-top: 0.5em;
	margin: 1em 0 0.5em;
	font-weight: 500;
}

h1 {
	font-size: 2rem;
}

h1 small {
	font-weight: 300;
	display: block;
}

h2 {
	font-size: 1.5rem;
}

/* Storybook mode simulation - production uses prefers-color-scheme */
.light {
	color: #25408f;
}

.dark {
	color: #e0e0e0;
}