@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@layer base, component, utility;

@layer base {
  :root {
    --primary-color: #25408f;
    --secondary-color: #c26f1f;
    --background-color: #f5f5f5;
    --text-color: #000;
  }

  body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #f5f5f5;
    color: #000;
    line-height: 1.6;
    font-weight: 300;
  }
  
  section {
    margin-bottom: 1rem;
  }

  main {
    padding: 20px;
    max-width: 75ch;
    margin: 0 auto;
  }

  p {
    text-wrap: pretty
  }

  a {
    color: inherit;
  }

  button {
    cursor: pointer;
    border: none;
    background: none;
  }
  
  ::selection {
    background-color: var(--secondary-color);
    color: white;
  }
}

@layer component {
  figure img {
    filter: sepia(30%) saturate(200%);
  }
}